body {
    background-color: #b4bdff;
}
.navbar{
    background-color: #b5538b !important;
}
.table, form{
    --bs-table-bg: rgb(243 147 205 / 60%);;
    border-radius: 10px;
}
.List-cont table , .container{
    margin: 2em auto;
    background: rgba( 255, 63, 127, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    border-radius: 10px;
    padding: 30px;
}